.my_box {
    background-size: 100% 100%;
    font-size: 1.4rem;
    text-align: center;
}
.my_info {
    color: #eee;
    background: rgba(0,0,0,.5);
    padding: 6px 0;
}
.my_info ul {
    display: -webkit-box;
    padding: 0;
    margin: 0;
}
.my_info ul li {
    list-style: none;
    text-align: center;
    width: 33.3%;
}
.my_info ul li span {
    display: block;
    margin-top: 3px;
}
.indent {
    padding: 10px;
}
.my_list .item {
    padding: 10px 30px;
    font-size: 12px;
}
.my_list .item-icon-right .icon{
    right: 0;
}
.my_list .item-icon-left .icon{
    left: 0;
}
.my_list .item-icon-right .icon {
    color: #333;
}